

.active-window {
  height: 100%;
  text-align: center
}

.hint-selector {
  text-align: center
}

.guess-area {
  text-align: center
}

.player-hint {

}

.mapper-hint {

}

.hint-active .btn{
  background-color: blue
}
